/*
    Web-Application: Koch Curve
    Theme URI: http://www.byrne-systems.com
    Description: Web & Software Design & Development
    Author: Justin D Byrne
    Author URL: http://www.byrne-systems.com
    License: MIT License (MIT)
    License URL: https://github.com/justinbyrne001/Koch-Curve/blob/master/LICENSE.md
    Text Domain: Byrne-Systems
    Version: 0.9
*/

* {                                                         /* Apply: Border-box on 'all' elements */
    -khtml-box-sizing:border-box;                           /* -khtml:Konqueror */
      -moz-box-sizing:border-box;                           /* -moz:Mozilla */
       -ms-box-sizing:border-box;                           /* -ms:Microsoft */
        -o-box-sizing:border-box;                           /* -o:Opera */
           box-sizing:border-box;                           /* CSS3 */
}

/* HTML Elements */
html { font-size:100%; }                                    /* Font-size */

body { background-color:#35A8BF; }                          /* Background-color */